// Img
$pictures-path: '../img';

//fonts
$fonts-path: '../fonts';
$icomoon-font-path: '#{$fonts-path}/icomoon/fonts';

$font-montserrat: "Montserrat", sans-serif;

$font-pretitle: $font-montserrat;
$font-title: $font-montserrat;
$font-text:  $font-montserrat;

$theme-fonts: (
  'font-title': $font-title,
  'font-text': $font-text
);

// Font-sizes must be converted to rem, use function calculate-rem or min-max-interpolation
$font-sizes: (
  16: calculate-rem(16)
);

// Typography sizes
$title-sizes-mobile: (
  1: 36,
  2: 28,
  3: 25,
  4: 22,
  5: 20,
  6: 17,
  7: 16
);

$title-sizes-xl: (
  1: 70,
  2: 48,
  3: 38,
  4: 30,
  5: 24,
  6: 18,
  7: 17
);

// Font Weight
$fw-light: 300;
$fw-bold: bold;

$state-colors: (
  'danger': #dc3545,
  'warning': #ffc107,
  'info': #17a2b8,
  'success': #28a745
);



/**
    ----- ROOT COLORS -------
 */
$primary: #004aad;
$primary-darken: darken(#004aad, 4%);
$primary-05: rgb(0, 74, 173, 0.5);
$primary-08: rgb(0, 74, 173, 0.8);

$secondary: #0036a3;
$secondary-darken: darken(#0036a3, 4%);
$secondary-08: rgba(0, 54, 163, 0.8);

$tertiary: #00AD9C;
$tertiary-darken: darken($tertiary, 4%);
$tertiary-08: rgba(0, 173, 156, 0.8);

$horizon: hsl(215, 51%, 80%);
$horizon-darken: darken($horizon, 4%);

$gray-50: #fbfbfb; // custom ok
$gray-100: #f6f6f6; // custom ok
$gray-200: #e5e5e5;
$gray-300: #d4d4d4;
$gray-400: #a3a3a3;
$gray-500: #727673; // custom ok
$gray-600: #525252;
$gray-700: #404040;
$gray-800: #262626;
$gray-900: #171717;

$white: #fff;
$black: #262c28;

/*
    ------ Color accessible in inspector by using css var() in scss -------
*/

// Colors must be named in kebab case based on this : https://colornamer.robertcooper.me/
$colors: (
  'primary': $primary,
  'primary-darken': $primary-darken,
  'primary-08': $primary-08,
  'secondary': $secondary,
  'secondary-darken': $secondary-darken,
  'secondary-08': $secondary-08,
  'tertiary': $tertiary,
  'tertiary-darken': $tertiary-darken,
  'tertiary-08': $tertiary-08,

  'gray-100': $gray-100,
  'gray-200': $gray-200,
  'gray-300': $gray-300,
  'gray-400': $gray-400,
  'gray-500': $gray-500,
  'gray-600': $gray-600,
  'gray-700': $gray-700,
  'gray-800': $gray-800,
  'gray-900': $gray-900,
  'white': $white,
  'black': $black,
  'text-color': $gray-400,
  'input-color': $gray-400,
  'bg-color': $gray-100
);

/**
    ----- COLORS ON ELEMENTS -------
 */

// text colors
$title-blue: $secondary;
$text-dark-color: $black;
$text-light-color: $white;

//link color
$els-link-primary: $primary;
$els-link-primary-hover: $tertiary;

// btn colors
$btn-color: $secondary;
$btn-color-hover: darken($secondary, 5%);

$custom-variable-prefix: els-;

$spacings: (
  base: calculate-rem(30)
);

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  fhd: 1700px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  fhd: 1440px
);

$z-index-max: 3;
$z-index-high: 2;
$z-index-medium: 1;
$z-index-normal: 0;
$z-index-less: -1;
$z-index-max-less: -2;

$contact-us-br: 30px 0 0 30px;

// radius
$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-xl: 20px;
