@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.route-error {
  background: linear-gradient(0, $primary, darken($primary, 20%));

  ::selection {
    background: #CDD4DE;
  }

}

.error-page ~ footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.error-page {
  display: flex;
  flex-direction: column;
  /*--------------------
  Page
  --------------------*/
  &.page {
    @include center;
    width: 800px;
    height: 600px;
    z-index: 1;
    background: #0D0C1E;
    border-radius: 10px;
    overflow: hidden;
  }

  /*--------------------
  Content
  --------------------*/
  .content {
    max-width: 400px;
    margin: 0 auto;
    background: rgba(255,255,255, 0.3);
    text-align: center;
    padding: 20px 30px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    h1 {
      color: $primary;
      font-weight: 700;
      font-size: 125px;
      line-height: 1;
      margin-bottom: -10px;
      opacity: 0.6;
    }

    h2 {
      color: $primary;
      font-weight: 700;
      font-size: 54px;
      margin-bottom: 6px;
      opacity: 0.9;
    }

    p {
      font-weight: 300;
      font-size: 14px;
      opacity: 0.7;
      margin-bottom: 140px;
    }

    a {
      max-width: 200px;
      display: inline-block;
      font-weight: 300;
      font-size: 12px;
      text-transform: uppercase;
      border: 1px solid #CDD4DE;
      padding: 8px 14px;
      border-radius: 4px;
      opacity: 0.8;
      cursor: pointer;
    }
  }


  /*--------------------
  Image
  --------------------*/
  .error-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    transform: scale(1.1);
  }
}
