
#cooking-page {

  .project-form__wrapper {
    margin-top: 50px;
    padding-bottom: 30px;
  }

  .project-form__title-wrapper {
    margin-bottom: 30px;
  }

  .project-form {
    margin: 30px 0;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
    }

    .input-field {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }

    .textarea-field {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
    }
  }



  /* Image upload form */

  .els-image-form {

    .images-form {
      max-width: 800px;
      margin: 20px 0;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .input-label {
        margin-bottom: 8px;
        font-weight: bold;
      }

      .input-upload-label {
        min-width: 100px;
        margin: 20px 0;
        padding: 5px 10px;
        background: $tertiary;
        outline: 1px solid $tertiary;
        display: table;
        color: $white;
        text-align: center;
        cursor:pointer;
        transition: all 0.2s ease-in;

        &:hover {
          background: $white;
          color: $tertiary;
        }
      }

      /* select custom style */
      .select-wrapper {
        select {
          appearance: none;
          border: 0;
          outline: 0;
          background: none;
          color: inherit;
          box-shadow: none;
        }
        select::-ms-expand {
          display: none;
        }
        /* Custom Select wrapper */
        .custom-select {
          position: relative;
          display: flex;
          width: 100%;
          background: $white;
          border: 1px solid $tertiary;
          overflow: hidden;

          select {
            flex: 1;
            padding: 5px;
            cursor: pointer;
          }
          // Arrow style
          .select-icon {
            padding: 5px;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            color: $tertiary;
            pointer-events: none;
            &:hover {
              color: $primary;
            }
          }

        }
      }

      .upload-wrapper {
        margin-top: 40px;
        /* Reset <select> defaults */
        /* input file style */
        input[type="file"] {
          display: none;
        }
      }


      a {
        color: #4caf50;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .submit-container {
        width: 100%;
        display: flex;
        justify-content: center;
        .button {
          margin: 0 auto;
          padding: 10px 65px;
        }
      }

    }
  }

  /* project list */
  .els-projects-list {
    margin-top: 50px;
  }

  /* images list */
  .els-cooking-img-list-wrapper {
    background: #fff;
    margin-bottom: 150px;

    .images-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 800px;
      margin-top: 20px;
      column-gap: 20px;
      row-gap: 40px;
    }

    .images-list__img-wrapper {
      max-width: 150px;
      background: #fff;
      margin: 0;
      padding: 10px;
      border: 1px solid #0036a3;
      border-radius: 10px;

      img {
        width: 100%;
        border-radius: 10px;
        object-fit: contain;
      }
    }

    .images-list__text-wrapper {

      &.tooltip {
        position: relative;

        &:before {
          z-index: 999;
          content: attr(data-text); /* here's the magic */
          position: absolute;

          /* move to top */
          top: 100%;
          transform: translateY(-150%);

          /* basic styles */
          width: 200px;
          padding: 10px;
          border: 1px solid $primary;
          border-radius: 10px;
          background: $white;
          color: $primary;
          text-align: center;

          display: none; /* hide by default */
        }

        &:hover:before {
          background: #fff;
          display: block;
        }
      }


      .images-list-text {
        overflow: hidden;
        max-width: 150px;
      }
    }
  }
}
