.project {

  #main {
    &:target {
      padding-top: var(--header-height);
    }
  }


  .project-page {
    flex-grow: 1;

    .container {

      .section-title {
        padding-top: 30px;
        margin: 0 auto 30px auto;
      }

      .inter-post-section {
        max-width: 800px;
        margin: 20px auto;


        .inter-post-wrapper {
          display: flex;
          justify-content: space-between;
        }

        .inter-post-link {
          visibility: hidden;
          pointer-events: none;
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          overflow: hidden;
          max-width: 200px;
          gap: 4px;

          &.active {
            visibility: visible;
            pointer-events: auto;
          }

          span {
            font-weight: bold;
          }

          .inter-post-text {
            display: none;
            margin: 0.8px 0 0 0;
            @include media-breakpoint-up(sm) {
              display: block;
            }
          }
        }
      }

      .section-project {
        max-width: 800px;
        min-height: 50vh;
        background: linear-gradient(to bottom, $white 70px, $secondary 70px);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
        outline: 1px solid $secondary;
        border-radius: 10px;
        margin: 0 auto 50px auto;
        padding-top: 70px;
        position: relative;

        @include media-breakpoint-up(md) {
          border-radius: 10px;
        }


        .project__image {
          border-radius: 0;
          display: flex;
          flex-direction: row;
          column-gap: 20px;

          @include media-breakpoint-up(md) {
            border-radius: 0 0 0 10px;
            flex-direction: column;
            column-gap: 0;
            row-gap: 10px;
          }

            .img-wrapper {
              margin-top: -30px;
              max-width: 200px;

              img {
                border-radius: 10px;
                width: 100%;
                object-fit: cover;
                object-position: top;
                aspect-ratio: 1;
              }
            }

          .subtext-wrapper {
            @include media-breakpoint-up(sm) {
              display: block;
              flex-grow: 1;
              padding: 10px 0;
            }
          }
        }

        .project__content {
          border-radius: 0 0 10px 10px;
          .content__tabs-wrapper {
            padding: 20px 5px;
            border-radius: 0 0 10px 10px;

            @include media-breakpoint-up(md) {
              border-radius: 0 0 10px 0;
              padding: 0 5px;
              margin-top: -30px;
            }

            nav {
              display: flex;
              flex-wrap: wrap;
              gap: 20px;

              .tab-pill {
                cursor: pointer;
                transition: all 0.3s ease-in;

                &.active {
                  font-weight: 900;
                }
              }
            }
          }
          .content__text-wrapper {

            position: relative;
            .content__text {
              padding: 0;
              height: 0;
              width: 0;
              overflow: hidden;
              opacity: 0;
              transition: opacity 0.4s ease-in-out;

              &.active {
                padding: 20px 0;
                width: 100%;
                height: auto;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
